.App-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	font-size: calc(10px + 2vmin);
}

.logo {
	margin-top: 3%;
	transition: 0.4s;
}

.logo_name {
	margin-bottom: 3%;
	transition: 0.4s;
}

.nav-btns {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	border: 15px solid var(--green-light);
	border-bottom: 0;
	background: var(--green-light);
}

.active {
	background: white;
}

.nav-btns > * {
	padding: 10px;
	width: 50%;
}

/* logo name */
p {
    text-transform: uppercase;
    color: #222;
    font-weight: 900;
    color: transparent;
    font-size: 0px;
	margin: 20px;
}
p span {
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: 3.5rem;
}
p span::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
	border-radius: 20px;
}

p:nth-child(2) {
    animation: txt-appearance 0s 1.25s forwards;
}

p:nth-child(2) span::after {
    background:var(--green-light);
    animation: slide-in 0.75s 0.3s ease-out forwards,
    slide-out 0.75s 1.3s ease-out forwards;
	
}
/*----------name animation-----------*/
@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}
@keyframes slide-out {
    100% {
        transform: translateX(100%)
    }
}
@keyframes txt-appearance {
    100% {
        color: #222;
    }
}


/*----------logo animation-----------*/
@keyframes App-logo-spin {
	
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.logo {
		animation: App-logo-spin infinite 50s linear;
		animation-delay: 2.4s;
	}
}

@media screen and (max-width: 1024px) {
	.logo {
		width: 250px;
	}

	.logo_name {
		width: 300px;
	}
}

@media screen and (max-width: 768px) {
	.logo {
		width: 150px;
	}

	.logo_name {
		width: 200px;
	}
}